<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.babygage" >

	

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="@string/app_name" >
		<activity
		android:name=".intro_activity"
		android:configChanges="orientation|keyboardHidden|screenSize"
		android:label="@string/app_name"
		android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

			<activity android:name="com.example.babygage.intro_select_activity"></activity>
			<activity android:name="com.example.babygage.mainpage_household_activity"></activity>
			<activity android:name="com.example.babygage.mainpage_financial_activity"></activity>
			<activity android:name="com.example.babygage.mypage_household_activity"></activity>
			<activity android:name="com.example.babygage.mypage_financial_activity"></activity>
			<activity android:name="com.example.babygage.household_ledger_activity"></activity>
			<activity android:name="com.example.babygage.writingdiary_activity"></activity>
			<activity android:name="com.example.babygage.financial_audit_activity"></activity>
			<activity android:name="com.example.babygage.completeexcel_activity"></activity>
			<activity android:name="com.example.babygage.completereceipt_activity"></activity>
		<activity android:name="com.example.babygage.successful_sign_up_activity"></activity>
        <activity android:name="com.example.babygage.takepicture_activity"></activity>
			<activity android:name="com.example.babygage.receipt_activity"></activity>
	</application>

</manifest>
	
	